header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .logo {
    font-size: xx-large;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 60px;
    border-bottom: 1px solid black;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;

      button {
        background-color: black;
        color: white;
        border-style: none;
        border-radius: 25px;
        padding: 8px 10px;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}
